{% extends 'base.html' %}

{% block content %}
<style>
    .accordion-item {
        border: 1px solid #000;
        border-radius: 0.25rem;

    }


    .nav-link:hover {
        color: black;

    }

    .nav-link {
        color: #6c757d;
    }

    .accordion-item {
        opacity: 0;
        transition: opacity 1.5s ease;

    }

    .accordion-item.visible {
        opacity: 1;
    }

    .underlined-heading {
        position: relative;
    }

    .underlined-heading::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 80%;
        border-bottom: 2px solid #333;
    }
</style>


<div class="container-fluid pt-5" id="about"
    style="min-height: 400px; background: linear-gradient(to right, #fff, #eee);">
    <div class="row mx-auto align-items-center">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 text-left mt-5">
            <h1 class="underlined-heading" style="font-size: 2.5rem; color: #333;">About Me</h1>
            <div style="max-height: 200px; overflow-y: auto;">
                <p style="color: #666; text-align: left;">
                    {{ userProfile2.about }}
                </p>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>

</div>

<div class="container-fluid" id="Experience"
    style="min-height: 400px; background: linear-gradient(to left, #fff, #eee);">
    <div class="row mx-auto align-items-center">
        <div class="col-md-2">

        </div>

        <div class="col-lg-8 text-left" style="margin-top: 5%;">
            <h1 style="font-size: 1.5rem; text-align: center; color: #333;">Work Experiences</h1>
            <div class="accordion" id="accordionExample" style="height: 300px; overflow-y: auto;">


                {% for index, item in enumerate(userExperience2) %}
                <div class="accordion-item ">
                    <div class="accordion-header" id="heading{{ index }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ index }}" aria-expanded="false"
                            aria-controls="collapse{{ index }}">
                            <span style="font-weight: bold;">{{ item.title_exp }}</span>
                            <i class="bi bi-chevron-down" style="font-size: 1rem;"></i>
                        </button>
                    </div>
                    <div id="collapse{{ index }}" class="accordion-collapse collapse {% if index == 0 %}show{% endif %}"
                        aria-labelledby="heading{{ index }}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="mycontent-left" style="color: #666;">{{ item.body_exp }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-2">
        </div>
    </div>

</div>


<div class="container-fluid" id="tab-angular"
    style="margin-bottom: 40px; background: linear-gradient(to left, #fff, #eee);">
    <div class="row mx-auto">
        <div class="col">

            <div class="mx-auto">
                <div class="nav nav-tabs justify-content-center" id="myTab" role="tablist" style=" border:0;">
                    {% if blogs %}
                    {% for cat, category_blogs in blogs.items() %}
                    <button class="nav-link{% if loop.first %} active{% endif %}" id="{{ cat }}-tab"
                        data-bs-toggle="tab" data-bs-target="#{{ cat }}" type="button" role="tab"
                        aria-controls="{{ cat }}" aria-selected="{{ loop.first }}" style="border:0;">{{ cat
                        }}</button>
                    {% endfor %}
                    {% else %}
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
                    {% endif %}
                </div>
                <br>

                <div class="tab-content" id="myTabContent">
                    {% for cat, category_blogs in blogs.items() %}
                    <div class="tab-pane fade{% if loop.first %} show active{% endif %}" id="{{ cat }}" role="tabpanel"
                        aria-labelledby="{{ cat }}-tab">
                        {% if category_blogs %}
                        {% for blog in category_blogs %}
                        <div class="card mx-auto mb-3"
                            style="width: 40%; border-top:0; border-left:0; border-right:0; ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <p style="font-size: 0.8rem; color:gray;">{{ blog.date_created }}</p>
                                        <h1 style="font-size: 1.2rem;">{{ blog.title }}</h1>
                                        <p>{{ blog.short_desc }}</p>
                                    </div>
                                    <div class="col-auto">
                                        <img src="https://via.placeholder.com/170" class="img-fluid" alt="Sample Image"
                                            style="width: 150px; height: 150px;">
                                    </div>
                                </div>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="card mx-auto" style="width: 40%;">
                            <div class="card-body mt-2 mb-2">
                                <p>No blogs available for this category.</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<script>

</script>
<script src="{{ url_for('static', filename='js/stickyNAV.js') }}"></script>
<script src="{{ url_for('static', filename='js/accordion-right.js') }}"></script>
<script src="{{ url_for('static', filename='js/typewriter.js') }}"></script>


{% endblock %}